<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']">
                <mat-icon>home</mat-icon> Inicio</a>
            <!-- <a mat-list-item [routerLink]="['/fiestas']">Fiestas</a> -->
            <a mat-list-item [routerLink]="['/tabla/fiestas']">
                <mat-icon> list_alt</mat-icon> Fiestas</a>
            <a mat-list-item [routerLink]="['/tabla/grupos']">
                <mat-icon> list_alt</mat-icon> Grupos</a>
            <a mat-list-item [routerLink]="['/tabla/tipos']">
                <mat-icon> list_alt</mat-icon> Tipos</a>
            <a mat-list-item *ngIf="iu.role>1" [routerLink]="['/tabla/usuarios']">
                <mat-icon> list_alt</mat-icon> Usuarios</a>


            <a mat-list-item [routerLink]="['/contact']">
                <mat-icon>contact_support</mat-icon> Contacto</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>{{ nombreApp }}</span>
            <div *ngIf="login==false; else loginok">
                <a mat-raised-button class="btnlogin" routerLink="./registro">Registro</a>
                <a mat-raised-button class="btnlogin" routerLink="./login">Login</a>
            </div>
            <ng-template #loginok>
                <a mat-raised-button class="btnlogin" (click)="logout()">Logout</a>

            </ng-template>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>