<div>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.id }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.fecha | date:'medium'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreGrupo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> nombreGrupo </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.nombreGrupo }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreTipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> nombreTipo </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.nombreTipo }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="localidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> localidad </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.localidad }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="zona">
            <mat-header-cell *matHeaderCellDef mat-sort-header> zona </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.zona }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" [pageSize]="10" showFirstLastButtons></mat-paginator>

</div>