<div>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.id }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> fecha </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.fecha | date:'medium'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreGrupo">
            <mat-header-cell *matHeaderCellDef> nombreGrupo </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.nombreGrupo }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreTipo">
            <mat-header-cell *matHeaderCellDef> nombreTipo </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.nombreTipo }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="localidad">
            <mat-header-cell *matHeaderCellDef> localidad </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.localidad }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="zona">
            <mat-header-cell *matHeaderCellDef> zona </mat-header-cell>
            <mat-cell *matCellDef="let FiestaNombres">{{ FiestaNombres.zona }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>